# System Files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.bak

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env
.pytest_cache/
.coverage
htmlcov/

# Node/Frontend
node_modules/
dist/
.npm
static/
staticfiles/

# Project Specific
db.sqlite3
media/
project-context.md
*.log